[Unit]
Description=a weather service

[Service]
Type=simple
ExecStart=/home/vagrant/week11/ws
WorkingDirectory=/home/vagrant/week11
Restart=on-failure

[Install]
WantedBy=multi-user.target
